<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Servidor</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>service</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/proyectos2/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sign In</servlet-name>
    <servlet-class>controllers.SignInController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sign In</servlet-name>
    <url-pattern>/signin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sign Up</servlet-name>
    <servlet-class>controllers.SignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sign Up</servlet-name>
    <url-pattern>/signup/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewCourse</servlet-name>
    <servlet-class>controllers.NewCourseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCourse</servlet-name>
    <url-pattern>/newCourse/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Recuperar Password</servlet-name>
    <servlet-class>controllers.RecuperarPassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recuperar Password</servlet-name>
    <url-pattern>/recuperarPass/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Activar usuario</servlet-name>
    <servlet-class>controllers.ActivarUsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Activar usuario</servlet-name>
    <url-pattern>/activacion/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditCourse</servlet-name>
    <servlet-class>controllers.EditCourseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCourse</servlet-name>
    <url-pattern>/editCourse/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseDetail</servlet-name>
    <servlet-class>controllers.CourseDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDetail</servlet-name>
    <url-pattern>/courseDetail/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Lista de Cursos</servlet-name>
    <servlet-class>controllers.CourseListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Activar usuario</servlet-name>
    <url-pattern>/courselist/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>New Unity</servlet-name>
    <servlet-class>controllers.NewUnityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>New Unity</servlet-name>
    <url-pattern>/newunity/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>SaveCourseSessionActionServlet</servlet-name>
	<servlet-class>actions.SaveCourseSessionActionServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>SaveCourseSessionActionServlet</servlet-name>
	<url-pattern>/SaveCourseSessionActionServlet/*</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>DeleteCourseSessionActionServlet</servlet-name>
	<servlet-class>actions.DeleteCourseSessionActionServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>DeleteCourseSessionActionServlet</servlet-name>
	<url-pattern>/DeleteCourseSessionActionServlet/*</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>SaveCourseUnityActionServlet</servlet-name>
	<servlet-class>actions.SaveCourseUnityActionServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>SaveCourseUnityActionServlet</servlet-name>
	<url-pattern>/SaveCourseUnityActionServlet/*</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>DeleteCourseUnityActionServlet</servlet-name>
	<servlet-class>actions.DeleteCourseSessionActionServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>DeleteCourseUnityActionServlet</servlet-name>
	<url-pattern>/DeleteCourseUnityActionServlet/*</url-pattern>
</servlet-mapping>

  
</web-app>